# MongoDB Connection String (Replace with your MongoDB Atlas URI)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/kk-waterplant?retryWrites=true&w=majority

# Server Port
PORT=5000

# Environment
NODE_ENV=development
